# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*~
*.sass-cache

# Certificates
*.p12
*.cert
*.mobileprovision

# OS or Editor folders
.DS_Store
._*
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace
*.iml
.actionScriptProperties
.flexLibProperties
.externalToolBuilders
.launch

# Folders to ignore
.hg
.svn
.CVS
.idea
node_modules
dist
bin-debug
bin-release
out
*-app.xml
docs

# Special case for XCode projects
*.pbxproj -crlf -diff -merge
xcuserdata

# Visual Studio
*.sdf
*.vcxproj.user
*.pdb
*.lib
*.exp
*.opensdf
native/win-visualstudio/LeapNative/Release
native/win-visualstudio/ipch

*-app.xml